<div class="col-xl-9 ml-auto mr-auto d-flex flex-column pt-5 pb-5">
	<div class="w-100 text-center">
		<label class="titulo">FEATURED NEIGHBORDHOODS</label>
	</div>

	<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	  <div class="d-flex w-100">
		  <a class="border-top" href="#carouselExampleControls" role="button" data-slide="prev">Previous</a>
		  <a class="border-top ml-auto" href="#carouselExampleControls" role="button" data-slide="next">Next</a>
	  </div>
	  <div class="carousel-inner">
	    <div class="carousel-item active">
		    <div class="d-flex w-100 mt-2">
		    	<div class="card mb-3 w-lg-50 w-100 mr-2">
				  <div class="row no-gutters">
				    <div class="col-md-5">
				      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaPNbXAl97Kwy0LluP-WMRV_2_vF-RMehlbx7xsqptE8UYBcUPLg" class="card-img h-100" alt="...">
				    </div>
				    <div class="col-md-7">
				      <div class="card-body">
				        <h5 class="card-title">$00.000</h5>
				        <p class="card-text">texto.</p>
				        <p class="card-text w-100"><label class="btn btn-outline-secondary col-12 text-left">texto</label></p>
				      </div>
				    </div>
				  </div>
				</div>

				<div class="card mb-3 w-lg-50 w-100 ml-2 bg-gris">
				  <div class="row no-gutters">
				    <div class="col-md-5">
				      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaPNbXAl97Kwy0LluP-WMRV_2_vF-RMehlbx7xsqptE8UYBcUPLg" class="card-img h-100" alt="...">
				    </div>
				    <div class="col-md-7">
				      <div class="card-body">
				        <h5 class="card-title text-yellow">$00.000</h5>
				        <p class="card-text">texto.</p>
				        <p class="card-text w-100"><label class="btn btn-primary col-12 text-left">texto</label></p>
				      </div>
				    </div>
				  </div>
				</div>
		    </div>
	    </div>
	    <div class="carousel-item">
	      
	    </div>
	    <div class="carousel-item">
	      
	    </div>
	  </div>
	 
	</div>
</div>