<div class="img-footer position-absolute w-100">
	<img class="w-100 h-100" src="http://bearsvslions.org/wp-content/uploads/2018/06/interiores-de-apartamentos-peque-os-con-temas-variados-dise-o-asombroso.jpg">
</div>
<div class="div-info-footer w-100 position-relative">
	<div class="col-xl-9 col-12 mr-auto ml-auto pt-4 pb-4 d-flex flex-column">
		<div class="w-xl-100 row m-0">
			<div class="col-sm-6 col-12 d-flex flex-column">
				<h4 class="text-yellow">LATEST BLOG POSTS</h4>
				<h5 class="text-bold pt-3">dsdsdsdsdsdsds dsds</h5>
				<small class="border-bottom pb-2">sdsdsdsds</small>

				<h5 class="text-bold pt-3 text-yellow">dsdsdsdsdsdsds dsds</h5>
				<small class="border-bottom pb-2">sdsdsdsds</small>

				<h5 class="text-bold pt-3">dsdsdsdsdsdsds dsds</h5>
				<small class="border-bottom pb-2">sdsdsdsds</small>
			</div>
			<div class="col-sm-6 col-12 pr-0 align-self-center mt-5">
				<div class="card shadow-sm">
				  <div class="card-body">
				    <h6 class="card-title">Card title</h6>
				    <small class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</small>
				    <div class="w-100 d-flex">
				    	<div class="col-6 d-flex flex-column">
				    		<small>PHONE</small>
				    		<h5 class="text-yellow">4343434</h5>
				    	</div>
				    	<div class="col-6 d-flex flex-column">
				    		<small>ADDRES</small>
				    		<h5 class="text-yellow">Calle 12 # 45-66</h5>
				    	</div>
				    </div>
				  </div>
				  
				  <div class="card-footer text-right">
				    <img style="width: 70px;" src="https://www.slu.edu/marcom/tools-downloads/imgs/billiken/slu_billiken_rgb.png">
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="div-footer w-100 position-relative">
	<div class="col-xl-9 col-12 mr-auto ml-auto pt-4 pb-4 row m-0 align-baseline">
		<div class="d-flex flex-column">
			<ul class="nav">
			  <li class="nav-item">
			    <a class="nav-link active" href="#">HOME</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">BLOG</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">AGENTS</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">BUY</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">SELL</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#">CONTACT</a>
			  </li>
			</ul>
			<small>Al usar este sitio acepta el uso de cookies para análisis y contenido personalizado. Leer más</small>
		</div>
		<div class="ml-auto align-self-baseline">
			<img src="https://cdn.freebiesupply.com/logos/large/2x/mls-1-logo-black-and-white.png" style="height: 90px;">
		</div>
	</div>
</div>