.img-footer{
	height: 500px;
	z-index: 0 ;
}
.div-info-footer{
	height: 400px;
	z-index: 1000;
	background-color: rgba(0,0,0,0.5) !important;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
    color: #fff;
}
.div-footer{
	height: 100px;
	z-index: 1000;
	background-color: rgba(232, 220, 9, 0.62) !important;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}
a:hover, a{
	color: inherit;
}

.card {
    background-color: #25242494;
    border: 0px solid #fff;
    border-radius: .25rem;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) { 
	.img-footer{
		height: 910px;
	}
	.div-info-footer{
		height: 700px;
	}
	.div-footer{
		height: 210px;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 767.98px) { 

}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 991.98px) { 

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1199.98px) {

}