<nav class="navbar d-none d-lg-block navbar-expand-lg navbar-light bg-light position-absolute w-100">
  <div class="d-flex w-100">
    <div class="col-xl-9 ml-auto mr-auto d-lg-flex flex-column">
      <div class="d-flex w-100">
        <div class="ml-auto">
          <i></i><label class="lbl-contador">936.760.7800</label>
        </div>
      </div>
      <div class="d-flex w-100">
        <div class="img-logo">
        	<a class="navbar-brand" href="#"><img class="img-logo" src="https://media.licdn.com/dms/image/C4D0BAQEsYSxqfCoD_Q/company-logo_200_200/0?e=2159024400&v=beta&t=GeyqVdLc_tdfHonc3itFhfH9KoWrMJrVOrDIDYHx-Yc"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">BLOG</a>
            </li><li class="nav-item">
              <a class="nav-link" href="#">AGENTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">BUY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">SELL</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>  

<div class="d-block d-lg-none w-100">
  <div class="img-logo-movil">
    <a class="navbar-brand" href="#"><img class="img-logo" src="https://media.licdn.com/dms/image/C4D0BAQEsYSxqfCoD_Q/company-logo_200_200/0?e=2159024400&v=beta&t=GeyqVdLc_tdfHonc3itFhfH9KoWrMJrVOrDIDYHx-Yc"></a>
  </div>
</div>