.lbl-contador{
	color: #FAEE35;
	font-weight: bold;
	font-size: 1.1rem;
	padding: 8px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #FAEE35;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.bg-light {
    background-color: rgba(0,0,0,0.5) !important;
    height: 100px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;

}

.img-logo{
	height: 160px;
	position: absolute;
	margin-top: -35px;
}
.img-logo-movil{
	height: 80px;
	position: relative;
	margin-bottom: 12px;
}