.card-titulo{
	margin-top: -12px;
	position: absolute;
	background-color: #fff;
	font-weight: bold;
}

.border-card {
    border: 1.5px solid #212529;
    background-color: #fff;
}

.border-card:hover {
    border: 0;
    background-color: #FAEE35;
}
.card-titulo:hover{
	background-color: transparent;
}