<div class="col-lg-9 col-md-12 col-sm-12 col-12 ml-auto mr-auto row m-0 pt-5 pb-5">
	<div class="col-xl-3 col-sm-6 mt-2 mt-lg-0">
		<div class="border-card pl-2 pr-2">
			<label class="card-titulo">FINANCE TOUR</label>
			<label class="pt-3 pb-3">texto</label>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 mt-3 mt-lg-0">
		<div class="border-card pl-2 pr-2">
			<label class="card-titulo">FINANCE TOUR</label>
			<label class="pt-3 pb-3">texto</label>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 mt-3 mt-lg-0">
		<div class="border-card pl-2 pr-2">
			<label class="card-titulo">FINANCE TOUR</label>
			<label class="pt-3 pb-3">texto</label>
		</div>
	</div>
	<div class="col-xl-3 col-sm-6 mt-3 mt-lg-0">
		<div class="border-card pl-2 pr-2">
			<label class="card-titulo">FINANCE TOUR</label>
			<label class="pt-3 pb-3">texto</label>
		</div>
	</div>
</div>