<app-menu></app-menu>
<app-div-img-banner></app-div-img-banner>
<app-form-busqueda></app-form-busqueda>
<app-div-opciones></app-div-opciones>
<app-div-gallery></app-div-gallery>
<app-div-preferencias></app-div-preferencias>
<app-div-footer></app-div-footer>
<router-outlet></router-outlet>
