<div class="d-none d-lg-block w-100 bg-transparencia div-form-busqueda position-absolute">
	<div class="d-lg-flex flex-column">
		<div class="w-xl-100 d-flex">
			<label class="ml-auto mr-auto text-yellow text-bold"><h5>PROPERTY SEARCH</h5></label>
		</div>
		<div class="ml-auto mr-auto col-xl-9 d-flex">
			<form class="form-inline ml-auto mr-auto">
			  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
			    <option selected>Choose...</option>
			    <option value="1">One</option>
			    <option value="2">Two</option>
			    <option value="3">Three</option>
			  </select>

			  <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
			    <option selected>City...</option>
			    <option value="1">City One</option>
			    <option value="2">City Two</option>
			    <option value="3">City Three</option>
			  </select>

			  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
			 
			  <button type="submit" class="btn btn-primary my-1">SEACH</button>
			  <button type="submit" class="btn btn-2 my-1">ADVANCED</button>
			</form>
		</div>
	</div>
</div>
