<div class="div-gallery d-flex w-100">
	<div class="col-xl-9 col-lg-12 col-sm-12 col-12 mr-auto ml-auto pt-4 pb-4 d-flex flex-column">
		<div class="w-100 text-center">
			<label class="titulo">FEATURED NEIGHBORDHOODS</label>
		</div>
		<div class="w-100 row pt-3 m-0">
			<div class="col-xl-3 col-12 col-sm-6 d-flex flex-column">
				<div class="card w-100 border-0" style="width: 18rem;">
				  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPHY5W8P7L67vsQNpkU7w79HzBNJ_0WhtQR2Slf3n9IxGj5SO9lg" class="card-img-top" alt="...">
				   <label class="card-title-gallery w-100 text-center">NEIGHBORDHOOD 1</label>
				</div>
				<div class="card w-100 border-0 mt-3" style="width: 18rem;">
				  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPHY5W8P7L67vsQNpkU7w79HzBNJ_0WhtQR2Slf3n9IxGj5SO9lg" class="card-img-top" alt="...">
				   <label class="card-title-gallery w-100 text-center">NEIGHBORDHOOD 5</label>
				</div>
			</div>
			<div class="col-xl-3 col-12 col-sm-6 pt-3 d-flex flex-column">
				<div class="card w-100 border-0" style="width: 18rem;">
				  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPHY5W8P7L67vsQNpkU7w79HzBNJ_0WhtQR2Slf3n9IxGj5SO9lg" class="card-img-top" alt="...">
				   <label class="card-title-gallery w-100 text-center">NEIGHBORDHOOD 2</label>
				</div>
				<div class="card w-100 border-0 mt-3" style="width: 18rem;">
				  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPHY5W8P7L67vsQNpkU7w79HzBNJ_0WhtQR2Slf3n9IxGj5SO9lg" class="card-img-top" alt="...">
				   <label class="card-title-gallery w-100 text-center">NEIGHBORDHOOD 6</label>
				</div>
			</div>
			<div class="col-xl-3 col-12 col-sm-6 d-flex flex-column">
				<div class="card w-100 border-0" style="width: 18rem;">
				  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPHY5W8P7L67vsQNpkU7w79HzBNJ_0WhtQR2Slf3n9IxGj5SO9lg" class="card-img-top" alt="...">
				   <label class="card-title-gallery w-100 text-center">NEIGHBORDHOOD 3</label>
				</div>
				<div class="card w-100 border-0 mt-3" style="width: 18rem;">
				  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPHY5W8P7L67vsQNpkU7w79HzBNJ_0WhtQR2Slf3n9IxGj5SO9lg" class="card-img-top" alt="...">
				   <label class="card-title-gallery w-100 text-center">NEIGHBORDHOOD 7</label>
				</div>
			</div>
			<div class="col-xl-3 col-12 col-sm-6 pt-3 d-flex flex-column">
				<div class="card w-100 border-0" style="width: 18rem;">
				  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPHY5W8P7L67vsQNpkU7w79HzBNJ_0WhtQR2Slf3n9IxGj5SO9lg" class="card-img-top" alt="...">
				   <label class="card-title-gallery w-100 text-center">NEIGHBORDHOOD 4</label>
				</div>
				<div class="card w-100 border-0 mt-3" style="width: 18rem;">
				  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPHY5W8P7L67vsQNpkU7w79HzBNJ_0WhtQR2Slf3n9IxGj5SO9lg" class="card-img-top" alt="...">
				   <label class="card-title-gallery w-100 text-center">NEIGHBORDHOOD 8</label>
				</div>
			</div>
		</div>
	</div>
</div>
