@import '~bootstrap/dist/css/bootstrap.min.css';

.text-yellow{color: #FAEE35!important;}
.text-gris{color: #526065!important;}
.text-bold{font-weight: bold!important;}
.bg-transparencia{
	background-color: rgba(0,0,0,0.5) !important;
    height: 100px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}
.div-form-busqueda{
	margin-top: -250px;
	z-index: 1000;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #FAEE35;
    border-color: #FAEE35;
}
.btn-primary {
    color: inherit;
    font-weight: bold;
    background-color: #FAEE35;
    border-color: #FAEE35;
}

.btn-primary:hover {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}

.btn-2,.btn-2:hover {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
}

.titulo{
	font-weight: bold;
}

@media (min-width: 576px){
	.mr-sm-2, .mx-sm-2 {
	     margin-right: 0!important; 
	}
}